

@font-face {
  font-family: "Tisa Sans Pro"; 
  src: url("D:/TisaSansPro-ExtraLightItalic.woff");
  src: url("TisaSansPro-ExtraLightItalic.woff") format("woff");
}

*{
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
	background: beige;
	color: beige;
	font-family: "Helvetica";
}


.misc{
	height: 50px;
	background: #ed6161;
	text-align: left;
}

.misc ul li{
	padding-left: 15%;
	padding-top: 7px;
	display: inline-block;
}

.misc ul li a{
	padding: 30px;
}

.logo{
	top: 40%;
	height: 20%;
	width: 45%;
	border: 5px solid beige;
	background: none;
	position: absolute;
	left: 27.5%;
	text-align: center;
	margin: auto;
	z-index: 10000;
	font-size: 84px;
	 display: inline; 
	padding-top: 10px;
	backdrop-filter: blur(8px);
	background-color: rgb(245, 245, 220, 0.3);
}

.logo_text{
	text-align: center;
	opacity: 1;
}

.topbar{
	background-image: url("gr_wall (2).jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(999px) scale(.7);
	margin-top: -18%;
	margin-bottom: -10.5%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
  	height: 2100%;
    padding-top: 10px;
	color: yellow;
	text-align: center;
}

.title{
	font-size: 34px;
}

.navbar{
	display: inline-block;
	top: 10px;
	height: 50px;
	width: 100%;
	list-style-type: none;
	position: relative;
	z-index: 99;
	background: #ed6161;
    border-bottom: 4px solid #4d9c05;
    transition: height 0.66s ease-out;
}

.sticky {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 35px;
}

.navbar li{
	display: flex;
	font-size: 24px;
	font-style: italic;
	margin-right: 20px;
	margin-left: 20px;
	transition: .2s ease;
}

.navbar li a{
	color: beige;
	text-decoration: none;
	transition: .2s ease;
	font-style: Cursive;
}

.navbar li a:hover{
	color: black;
}

.navbar li.active a{
	color: blue;
}

.placeholder{
	display: none;
	width: 100%;
	height: 200px;
}

.main{
	padding: 10%;
	display: inline-block;
	background: beige;
}

.sect_name{
	font-family: 'Lobster';
	margin: auto;
	display: flex;
    width: 50%;
	position: absolute;
	text-align: center;
	left: 40%;
	top: 800px;
	font-size: 50px;
	color: #ed6161;
}

.container{
	display: inline-block;
	height: 30%;
	width: 250px;
	margin: 20px;
	position: relative;
	z-index: 9;
}

.portrait{
  transition: all .15s linear;
  background-color: transparent;
}

.image {
  opacity: 1;
  display: block;
  max-width: 100%;
  height: auto;
  transition: all .15s linear;
  transition: box-shadow 0.15s ease-in-out;
  backface-visibility: hidden;
}

.sign{
	transition: all .15s linear;
	position: absolute;
	top: 5%;
	left: 5%;
	padding: 3px;
	max-width: 40px;
	max-height: 40px;
	opacity: 0;
	z-index: 999;
}

.boss_sign{
	transition: all .15s linear;
	position: absolute;
	top: 5%;
	right: 5%;
	padding: 3px;
	max-width: 40px;
	max-height: 40px;
	opacity: 0;
	z-index: 999;
}

.middle {
  transition: all .15s linear;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: gray;
  color: black;
  font-size: 20px;
}

.portrait:hover{
	background-image: linear-gradient(to bottom, #f38181, #fce38a);
	transform: translate3d(-5px, -5px, 0);
	opacity: 1;
}

.portrait:hover .image{
  opacity: 0.4;
  box-shadow: 5px 5px 10px rgb(120, 0, 0, 0.5);
}

.portrait:hover .middle{
	opacity: 1;
} 

.portrait:hover .sign{
	opacity: 0.6;
} 

.portrait:hover .boss_sign{
	opacity: 1;
} 

.text:hover{
	box-shadow: inset 0 0 3px rgb(120, 0, 0, 0.6);
	opacity: 1;
}

.text {
	background: beige;
	opacity: 0.7;
    color: black;
    font-size: 20px;
    transition: all .15s linear;
    border: none;
    width: 100px;
    height: 50px;
}

.error{
	transition: all .15s linear;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: gray;
  color: black;
  font-size: 20px;
}


.name{
	text-align: center;
	font-style: italic;
	font-weight: bold;
	color: #ed6161;
	padding-top: 5px;
	font-size: 18px;
}

.contacts{
	margin: auto;
  	display: flex;
  	margin-left: 20px;
  	justify-content: center;
}

.contacts a{
    margin-right: auto;
	margin-left: auto;
	transition: .3s ease;
}

.contacts a:hover{
	opacity: 0.6;
}

.arrow{
	width: 5%;
	right: 45%;
	position: absolute;
}

footer{
	border-top: 5px solid #4d9c05;
	background: #ed6161;
	padding-left: 15%;
	padding-top: 15px;
	padding-bottom: 5px;
	height:75px;
}


.quot{
	position: relative;
	float: right;
	margin-bottom: 5px;
	margin-right: 20%;
}

.ls{
	position: relative;
	float: right;
	margin-bottom: 15px;
	margin-right: 20%;
	font-size: 15px;
	list-style-type: none;
}

.ls a{
	color: beige;
	text-decoration: none;
}
